/Problem-Solving-master/Problem-Solving-master/Beautiful Matrix/build/
/Problem-Solving-master/Problem-Solving-master/Beautiful Matrix/nbproject/private/
/Problem-Solving-master/Problem-Solving-master/Bit++/build/
/Problem-Solving-master/Problem-Solving-master/Bit++/nbproject/private/
/Problem-Solving-master/Problem-Solving-master/Domino piling/build/
/Problem-Solving-master/Problem-Solving-master/Domino piling/nbproject/private/
/Problem-Solving-master/Problem-Solving-master/Helpful Maths/build/
/Problem-Solving-master/Problem-Solving-master/Helpful Maths/nbproject/private/
/Problem-Solving-master/Problem-Solving-master/Honest Coach/build/
/Problem-Solving-master/Problem-Solving-master/Honest Coach/nbproject/private/
/Problem-Solving-master/Problem-Solving-master/Next Round/build/
/Problem-Solving-master/Problem-Solving-master/Next Round/nbproject/private/
/Problem-Solving-master/Problem-Solving-master/Petya and Strings/build/
/Problem-Solving-master/Problem-Solving-master/Petya and Strings/nbproject/private/
/Problem-Solving-master/Problem-Solving-master/String Task/build/
/Problem-Solving-master/Problem-Solving-master/String Task/nbproject/private/
/Problem-Solving-master/Problem-Solving-master/Team/build/
/Problem-Solving-master/Problem-Solving-master/Team/nbproject/private/
/Problem-Solving-master/Problem-Solving-master/Theatre Square/build/
/Problem-Solving-master/Problem-Solving-master/Theatre Square/nbproject/private/
/Problem-Solving-master/Problem-Solving-master/Way Too Long Words/build/
/Problem-Solving-master/Problem-Solving-master/Way Too Long Words/nbproject/private/
/Problem-Solving-master/Problem-Solving-master/watermelon/build/
/Problem-Solving-master/Problem-Solving-master/watermelon/nbproject/private/
